body {
  padding-left: 11em;
  font-family: Georgia, "Times New Roman",
        Times, serif;
  color: rgb(42, 128, 143);
  background-color: rgb(183, 186, 214) }
ul.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 30em;
  left: 1em;
  width: 9em }
h1 {
  font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif; color: black }
ul.navbar li {
  background: white;
  margin: 0.5em 0;
  padding: 0.3em;
  border-right: 1em solid black 
}
}
ul.navbar a {
  text-decoration: none }
a:link {
  color: blue }
a:visited {
  color: purple }
address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted }
  
p{
  font-family: 'Lobster', cursive; color: bisque;
  font-size: 250%;
  margin-left: 0px;
  margin-right: 20px;
  margin-top: 0px;
  margin-bottom: 20px;
}
  h2 {
    margin: 10;
    padding: 20px 0;
    color: #00539F;
    background-color: mintcream;
    font-family: 'Lobster', cursive;
    text-align:center;
    font-size: 300%;
  }
  h3 {
    font-size: 20px; /* px quiere decir 'píxeles': el tamaño de la fuente base es ahora de 10 píxeles de altura */
    color: black;
    text-align: center;
    font-family: 'Lobster', cursive; /* Este debe ser el resto del resultado que obtuviste de Google fonts */
  }
  aside {
    width: 800px;
    margin: 0 auto;
    background-color: navajowhite;
    border: 5px solid black;
  }
  *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    background-image: url("images.jpg");
}
.contenedorPrincipal{
    max-width: 1000px;
    margin: 0 auto;
}
header{
    background-color: #eeeeee;
    overflow: hidden;
    width: 100%;
}
header nav ul li{
    list-style: none;
    float: left;
}
header nav ul li a{
    text-decoration: none;
    padding: 15px 20px 15px 20px;
    display: inline-block;
    color: #2d3646;
}
header nav ul li a:hover{
    text-decoration: none;
    padding: 15px 20px 15px 20px;
    display: inline-block;
    background-color: #e52f6e;
    color: white;
}
main{
    background-color: white;
    width: 70%;
    float: left;
}
main img{
    max-width: 100%;
    
}
main section{
    padding: 30px;
}
main section p{
    text-align: justify;
    margin-bottom: 16px;
}
main h1{
    margin-bottom: 20px;
}
/* main section h1{

}*/
aside{
    width: 30%;
    height: 50%;
    float: left;
    background-color:#60b0e6;
    padding: 80px;
}

aside ul li{
    text-align: center;
    color: rgb(14, 7, 7);
    font-family: Georgia, serif; 
 

}
aside ul li:hover{
    color: #425067;
    
    

}
aside ul li{
    list-style: none;
    margin-bottom: 16px;
    border-bottom: 1px solid black;

}
aside h4{
    color: black;
    margin-bottom: 20px;
    font-size: 20px;
}
footer{
    width: 80%;
    clear: both;
    padding: 60px;
    background-color: bisque;
    background-image: url("fondos-del-rosa-en-colores-pastel-108040043.jpg");

}
footer p{
    color: white;
    text-align: center;
}
@media screen and (max-width: 800px) {
    main{
        width:100%;
        display:block;
    }
    aside{
        width: 100%;
        display:block;
    }
    footer{
        width: 100%;
        display: block;
    }

    #btn-fixed {
      display: block;
      position: fixed;
      bottom: 10px;
      right: 10px;
    }
    #flex-container1{
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: stretch;
      height: 250px;
    }
    #flex-container1 div{
      width: 200px;
      color: #FFF;
      text-align: center;
      line-height: 150px;
      margin: 10px;
      font-size: 20px;
      font-family: 'Roboto', sans-serif;
      background-color: #9B59B6;
    }
    #flex-container2{
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: flex-start;
      height: 250px;
    }
    #flex-container2 div{
      width: 200px;
      height: 150px;
      color: #FFF;
      text-align: center;
      line-height: 150px;
      margin: 10px;
      font-size: 20px;
      font-family: Arial;
      background-color: #C0392B;
    }
    #flex-container3{
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: flex-end;
      height: 250px;
      list-style: none;
    }
    #flex-container3 div{
      width: 200px;
      height: 150px;
      color: #FFF;
      text-align: center;
      line-height: 150px;
      margin: 10px;
      font-size: 20px;
      font-family: Arial;
      background-color: #3498DB;
      list-style-type: none;
    
    }
    #flex-container4{
        display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      height: 250px;
    }
    #flex-container4 div{
      width: 200px;
      height: 150px;
      color: #FFF;
      text-align: center;
      line-height: 150px;
      margin: 10px;
      font-size: 20px;
      font-family: Arial;
      background-color: #17A589;
    }
    #flex-container5{
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: baseline;
      height: 250px;
    }
    #flex-container5 div{
      width: 200px;
      height: 150px;
      color: #FFF;
      text-align: center;
      line-height: 120px;
      margin: 10px;
      font-size: 20px;
      font-family: Arial;
      background-color: #E67E22;
    }
    *{
      margin: 0px;
      padding: 0 px;
      font-family: "Roboto", Arial, Tahoma, sans-serif;

  }
  .info-box{
    background-color: #1C1D22;
    margin: 0px auto;
    padding: 110px 0 110px 0;
    color: white;
    text-align: center;
   
  }
  .info-box h2{
    margin-bottom: 30px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  #flex-p{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  #flex-p p{
    padding: 30px;
    max-width: 300px;
  }
  .container{
    position: relative;
  }
 

  .h5{
    font-family: Verdana;
    color: black;
  

  }